*{
	margin:0px;
	padding:0px;
}
body{
	background-color:#87CEEB;
	float:center;
	margin:auto;
	width:100%;
	text-align:center;
}
table{
	margin:0 auto;
}
.th{
	background-color:green;
	font-weight:bold;
}
td.left{
	text-align:left;
}
td.right{
	text-align:right;
}